.navigation-bar-80-percent{
    display:inline-block;
    background-color:#4695b4;
    text-align: right;
    width: 80%;
}
.navigation-bar-100-percent{
    display:block;
    background-color:#666666;
    text-align: right;
    width:100%;}

.transformation-bar-20-percent{
    display:inline-block;
    background-color:#666666;
    text-align: center;
    width: 20%;
}
.li-no-point-inline{
    display:inline;
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
    
    color: #668cff;
}
