.div-block{
    display:block; 
}
.form-align{
    display:block;
    text-align: center; 
    border: .5px;
    border-color: darkgray;
    border-style: groove;
}

.label-input {
    text-align: left;
}

.input-spacing{
    padding-left: .25%;
    padding-right: .25%;
}
.div-submit-clear-right{
    align-self: right;
}

.span-spacing{
    padding: 2px;
}
.button-div-right-align{
    text-align: right;
}
.button-size-spacing{
    width: 8%;
    margin-left: 2px;
    margin-right:2px;
}
.error-div{
 border-style: double;
 border-color:red;
 border-width: 3px;
 display:block;
 font-size: 13px;
}

.success-div{
    border-style: double;
    border-color:greenyellow;
    border-width: 3px;
    display:block;
    font-size:13px;
}